{% extends 'base.html' %}
<!-- подключил шаблон html для наследования -->

{% load static %}

{% block title %} Объявление {% endblock %}


{% block content %}
<footer style="padding: 50px;" class="bg-primary">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="../post_adv">Добавьте сюда что хотите</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
      aria-label="Toggle navigation"></button>
  </nav>
</footer>
<ul class="nav nav-pills sticky-top bg-white nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'top_sellers' %}"><span style="font-weight: bold;">Топ продавцов</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'post_adv' %}">
      <span style="font-weight: bold;">Разместить объявление</span>
    </a>
  </li>
  <!-- если пользователь не авторизован -->
  {% if not user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'sign_in' %}">
      <span style="font-weight: bold;">Регистрация</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">
      <span style="font-weight: bold;">Войти</span>
    </a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'profile' %}">
      <span style="font-weight: bold;">Профиль</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">
      <span style="font-weight: bold;">Выйти</span>
    </a>
  </li>
  {% endif %}
</ul>





<div class="container" style="margin: 10px;">
  <div class="display-2">
    <span class="badge bg-primary">Объявления разместил: "{{ adv.user }}"</span>
  </div>
</div>
<div class="col offset-2">
  <div class="card mb-2" style="max-width: 1200px; margin-top: 20px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="#" class="nav-link">
          {% if adv.image %}
          <img src="  {{adv.image.url}} " class="img-fluid rounded-start" alt="Card title">
          {% else %}
          <img src="{% static 'img/adv.png' %}" class="img-fluid rounded-start" alt="Card title">
          {% endif %}
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <strong>{{adv.title}}</strong>
          </h5>
            <p class="card-text">
              {{adv.descriptions}}
            </p>
            <p class="card-text"><small class="text-muted">{{adv.created}}</small></p>
            <span>Цена: {{adv.prices}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
</div>
  {% endblock %}