{% extends 'base.html' %}
<!-- подключили шаблон(унаследовали) -->
{% load static %}
<!-- подлючакете переменную static которая указывает ссылку на статические файлы -->
<!-- http://127.0.0.1:8000/static/ -->
{% block title %}   Новинки    {% endblock %}



{% block content %}
<ul class="nav nav-pills sticky-top bg-white nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'home' %}">
        <span style="font-weight: bold;">Главная</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'top_sellers' %}"><span style="font-weight: bold;">Топ продавцов</span>
      </a>
    </li>

    <!-- если пользователь не авторизован -->
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sign_in' %}">
        <span style="font-weight: bold;">Регистрация</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">
        <span style="font-weight: bold;">Войти</span>
      </a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'post_adv' %}">
        <span style="font-weight: bold;">Разместить объявление</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " aria-current="page" href="{% url 'profile' %}">
        <span style="font-weight: bold;">Профиль</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">
        <span style="font-weight: bold;">Выйти</span>
      </a>
    </li>
    {% endif %}
</ul>



<div class="container">
    <div class="row">
      <ul class="nav nav-tabs bg-white">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="..">Проверенные продавцы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../novinki">Новинки за неделю</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Новинки за день</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorites">Избранное</a>
        </li>
      </ul>
    </div>


</div>
<div class="col">

  
 


  <!-- начало моего обьявления -->
{% for adv in advertisements%}
  <div class="card mb-2" style="max-width: 1200px; margin-top: 20px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="{{ adv.get_absolute_url }}" class="nav-link">
          {% if adv.image %}  <!-- проверяю что есть картинка -->
            <img src=" {{adv.image.url}} " class="img-fluid rounded-start" alt="Card title">
          {% else %}  <!-- иначе -->
            <img src="{% static 'img/adv.png' %}" class="img-fluid rounded-start" alt="Card title">
          {% endif %}
          
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ adv.get_absolute_url }}" class="nav-link"><strong>{{adv.title}}</strong></a>
          </h5>
          <a href="{{ adv.get_absolute_url }}" class="nav-link">
            <p class="card-text">
              {{adv.descriptions}}
            </p>
            <span>Автор: {{adv.user}}</span>
            <p class="card-text"><small class="text-muted">Размещено: {{adv.created}}</small></p>
            <span>Цена: {{adv.prices}}</span>
          </a>
          {% if user in adv.favorites.all %}
          <form action="{% url 'remove_from_favorite' adv.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="fav_button_del">Удалить из избранного</button>
          </form>
          {% else %}
          <form action="{% url 'add_to_favorites' adv.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="fav_button_on" >Добавить в избранное</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
  <!-- конец обьявления -->
</div>
<footer style="padding:25px;" class="footer bg-primary">
  <div style="display: flex; justify-content: space-around;">
    <div style="display:flex; align-items: center; padding-top: 15px;" >
      <p style="font-size: large; color: rgb(255, 255, 255); margin-right: 10px;" >Сайт был создан вместе с командой Maximum Education</p>
      <p style="font-size: large; color: rgb(255, 255, 255); margin-left: 10px;">А также человеком именем Dan</p>
    </div>
    <div style="width: 225px; display: flex; justify-content: space-between;">
      <a href="https://github.com/Teslanot"><img src="/static/img/github_img.png" alt="GitHub" style="width: 50px; height:50px;"></a>
      <a href="https://education.maximumtest.ru"><img src="/static/img/Maximum_Education.png" alt="Maximum Education" style="width: 125px; height:50px;"></a>
    </div>
  </div>
</footer>




{% endblock %}