<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %} Профиль {% endblock %}

{% block content %}
  <ul class="nav nav-pills sticky-top bg-white nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <span style="font-weight: bold;">Главная</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'top_sellers' %}"><span style="font-weight: bold;">Топ продавцов</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'post_adv' %}">
        <span style="font-weight: bold;">Разместить объявление</span>
      </a>
    </li>
    {% if user.is_authenticated %} 
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">
        <span style="font-weight: bold;">Профиль</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">
        <span style="font-weight: bold;">Выйти</span>
      </a> 
    </li>
    {% else %} 
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Войти</a> 
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sign_in' %}">Регистрация</a>
    </li> 
    {% endif %}
  </ul>
<div class="col" style="margin: 50px;">
  <div class="display-5">
    <span class="badge bg-primary">Сейчас вы находитесь на сайте под ником {{ user }}.</span>
  </div>
</div>
<footer style="padding:25px;" class="bg-primary">
  <div style="display: flex; justify-content: space-around;">
    <div style="display:flex; align-items: center; padding-top: 15px;" >
      <p style="font-size: large; color: rgb(255, 255, 255); margin-right: 10px;" >Сайт был создан вместе с командой Maximum Education</p>
      <p style="font-size: large; color: rgb(255, 255, 255); margin-left: 10px;">А также человеком именем Dan</p>
    </div>
    <div style="width: 225px; display: flex; justify-content: space-between;">
      <a href="https://github.com/Teslanot"><img src="/static/img/github_img.png" alt="GitHub" style="width: 50px; height:50px;"></a>
      <a href="https://education.maximumtest.ru"><img src="/static/img/Maximum_Education.png" alt="Maximum Education" style="width: 125px; height:50px;"></a>
    </div>
  </div>
</footer>
{% endblock %}