{% extends 'base.html' %}
{% block content %}


<ul class="nav nav-pills sticky-top bg-white nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'top_sellers' %}"><span style="font-weight: bold;">Топ продавцов</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'post_adv' %}">
      <span style="font-weight: bold;">Разместить объявление</span>
    </a>
  </li>
  {% if user.is_authenticated %} 
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile' %}">
      <span style="font-weight: bold;">Профиль</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">
      <span style="font-weight: bold;">Выйти</span>
    </a> 
  </li>
  {% else %} 
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Войти</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'sign_in' %}">Регистрация</a>
  </li> 
  {% endif %}
</ul>


  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Страница</span>
      </div>
    </div>
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">регистрации</span>
      </div>
    </div>
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">пользователя</span>
      </div>
    </div>
  </div>
    
  <div class="container">
    <form method="post"> 
      {% csrf_token %} 
      {{ form.as_p }} 
            <!-- as_p as_table as_ul -->



      <div class="row mb-3 offset-sm-5">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}